# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# State files
*.json
!dept_state.json.example
!empty_departments.json.example

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
